<!DOCTYPE html>

<html lang="en" ng-app="crudApp" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Game panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/app.css" rel="stylesheet"/>
</head>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">BlackJack</span></div>
        <div class="panel-body">
            <!--<div>
                <div class="alert alert-success" role="alert" v-if="successMessage">{{successMessage}}</div>
                <div class="alert alert-danger" role="alert" v-if="errorMessage">{{errorMessage}}</div>
                <div class="alert alert-info-" role="alert" v-if="infoMessage">{{outcomeOfTheGameMessage}}</div>
            </div>-->
            <div>
                <h1>Simple BlackJack game</h1>
                <h1>Press start to try it</h1>
                <button type="submit" name="myGame" v-click="createGame()" class="bg-success" >Deal</button>
            </div>
            <div>
                <div class="tableContainer">
                    <h1>Cards</h1>
                </div>
                <div class="row" ng-model="btnContainer" v-if="dealBtn">
                    <div class="form-actions floatRight">
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" v-if="">Hit</button>
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" >Stand</button>
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" >Start new game</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            dealerCards: [],
            playerCards: [],
            successMessage: '',
            errorMessage: '',
            outcomeOfTheGameMessage: ''

        },
        created: function () {
            var vm = this;
            console.log('is about to start new game');
        },
        methods: {
            createGame: function () {
                var vm = this;
                axious.post('/game/create', {})
                    .then(function (response) {
                        if (response.status = 200){
                            vm.successMessage = response;
                        }else {
                            vm.errorMessage = response;
                        }

                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error)
                    })

            }
        }
    })
</script>

</body>
</html>